* {
    margin: 0;
    padding: 0;
}

body {
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Source Sans 3", sans-serif;
}


.holder {
    width: 375px;
    height: 625px;
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.header {
    border-radius: 20px 20px 0 0 ;
    display: flex;
    width: 375px;
    height: 67px;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
    border-bottom: 2px solid #C6C6C6;
}

.logo {
    height: auto;
    width: 127px;
    margin-left: 15px;
}

.userProfile {
    width: 34px;
    height: auto;
    border-radius: 50%;
    margin-right: 16px;
    transition: transform 1.1s ease;
}

.userProfile:hover {
    transform: scale(1.1);
}

main {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0 20px 20px;
    height: 625px;
}

.userInfo {
    display: flex;
    gap: 7px;
    align-items: center;
    margin: 10px;
}

.postProfile {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.userName{
    font-size: 1em;
}

.postCity {
    font-size: .8em;
}

.postVangogh {
    width: 375px;
    height: auto;
}

.reactIcons {
    display: flex;
    gap: 20px;
    margin-left: 10px;
    margin-top: 16px;
    align-items: center;
}

.likesNumbersIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.likesNumbersIcon p {
    font-size: larger;
    font-weight: 500;
}

label {
    margin: 0;
    padding: 0;
    /* position: relative; */
}

label input {
    position: absolute;
    opacity: 0;
}


.likeIcon, .icon {
    transition: transform 1.1s ease;
}

.icon:hover {
    filter: invert(70%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(70%) contrast(90%);
}

label:has(input:checked) .icon{
    filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(70%) contrast(90%);
    transform: scale(1.1);
}

.likeIcon:hover {
    filter: invert(14%) sepia(94%) saturate(7470%) hue-rotate(1deg) brightness(95%) contrast(120%);
}

label:has(input:checked) .likeIcon {
  filter: invert(14%) sepia(94%) saturate(7470%) hue-rotate(1deg) brightness(95%) contrast(120%);
  transform: scale(1.1);
}

.likesDiv {
    display: flex;
    gap: 5px;
    /* margin: 10px; */
    margin-left: 10px;
    margin-top: 5px;
}

.likes, .name, .likesWord {
    font-weight: 700;
}


.commentDiv {
    display: flex;
    margin-left: 10px;
    margin-bottom: 8px;
    gap: 8px;
}
